body, html, form {
    font-family: "Segoe UI", "Arial";
    font-size: 12pt;
    background: black;
}

ul {
    list-style-type: none;
}

li {
    font-size: 24pt;
    word-break: break-all;
    z-index: 0;
}

#dragula {
    position: relative;
    background: black;
}

#infobox {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    z-index: 999;
    width: 500px;
    padding: 20px;
    background: white;
    text-align: center;
}

#succulentText {
    display: none;
}

#container {
    background: black;
}
